@model OnlineTutorSystem.Models.subject
@using System.Data.SqlClient;
@{
    ViewBag.Title = "AddSubjects";
    Layout = "~/Views/Shared/TutorLayout.cshtml";
    if (Session["tutorID"] == null)
    {
        return;
    }
    ViewBag.Title = "ProfileEdit";
    Layout = "~/Views/Shared/TutorLayout.cshtml";
    ViewBag.Home = "";
    ViewBag.Contact = "";
    ViewBag.Profile = "active";
    ViewBag.MyStudents = "";

    var classlst = new List<SelectListItem>();
    var haveclasslst = new List<SelectListItem>();


    string constr = "Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=onlinetutor;Data Source=ZETRO\\MSSQLSERVER01";
    SqlConnection con = new SqlConnection(constr);
    con.Open();
    String q = "select subject from classSub where cid in (select cid from class where class in( select class from tutor where tid='" + Session["tutorID"].ToString() + "')) and not subject in(select title from subjects where tid='"+ Session["tutorID"].ToString() + "') ";
    SqlCommand c = new SqlCommand(q, con);
    SqlDataReader dr = c.ExecuteReader();
    while (dr.Read())
    {
        classlst.Add(new SelectListItem { Value = dr[0].ToString(), Text = dr[0].ToString() });
    }
    dr.Close();
    con.Close();

    con.Open();
    con = new SqlConnection(constr);
    con.Open();
    String query = "select * from tutor where tid='" + Session["tutorID"] + "'";
    SqlCommand cmd = new SqlCommand(query, con);
    SqlDataReader sdr = cmd.ExecuteReader();
    sdr.Read();

    var base64 = Convert.ToBase64String((byte[])sdr["img"]);
    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);


    con.Close();
    sdr.Close();
    con.Open();
    con = new SqlConnection(constr);
    con.Open();
    query = "select subject from classSub where cid in (select cid from class where class in( select class from tutor where tid='" + Session["tutorID"].ToString() + "')) and subject in(select title from subjects where tid='" + Session["tutorID"].ToString() + "') ";
    cmd = new SqlCommand(query, con);
    sdr = cmd.ExecuteReader();
    while (sdr.Read())
    {
        haveclasslst.Add(new SelectListItem { Value = sdr[0].ToString(), Text = sdr[0].ToString() });
    }

    var timelst=new List<SelectListItem>();
    con.Close();
    sdr.Close();
    con.Open();
    con = new SqlConnection(constr);
    con.Open();
    query = "select * from times where not time in (select time from timing where tid=" + Session["tutorID"] + ")";
    cmd = new SqlCommand(query, con);
    sdr = cmd.ExecuteReader();
    while (sdr.Read())
    {
        timelst.Add(new SelectListItem { Value = sdr[0].ToString(), Text = sdr[0].ToString() });
    }


    con.Close();
}

<div class="site-section-cover overlay" style="background-image: url('/Template/images/hero_bg.jpg'); ">

    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-10 text-center">
                <h1>   <strong>Home</strong></h1>
            </div>
        </div>
    </div>
</div>


<div class="site-section bg-light">

    <div class="container">

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="container">
            <div class="row flex-lg-nowrap">

                <div class="col">
                    <div class="row">
                        <div class="col mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="e-profile">
                                        <div class="row">
                                            <div class="col-12 col-sm-auto mb-3">
                                                <div class="mx-auto" style="width: 140px;">
                                                    <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                                                        <img style="width: 100%; height: 100%; object-fit: cover; border-radius: 8%;" src="@imgsrc" class="your_picture_image" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                                <div class="text-center text-sm-left mb-2 mb-sm-0">
                                                    <div class="mt-2">

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"><a href="/Tutor/ProfileEdit" class="active nav-link">Edit Profiles</a></li> &nbsp;&nbsp;&nbsp;&nbsp;
                                            <li class="nav-item"><a href="/Tutor/AddSubjects" class="active nav-link">Add Subjects</a></li>
                                        </ul>
                                        @Scripts.Render("~/bundles/jquery")
                                        @Scripts.Render("~/bundles/jqueryval")
                                        @using (Html.BeginForm("AddSubject", "Tutor", FormMethod.Post))
                                        {
                                            <div class="tab-content pt-3">
                                                <div class="tab-pane active">
                                                    <form class="form" novalidate="">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Subject Name</label>
                                                                           
                                                                            @Html.DropDownListFor(model => model.title, classlst, "Select New Subject", new { @class = "form-control" })
                                                                            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Price</label>
                                                                            @Html.TextBoxFor(model => model.price, new { @class = "form-control",@placeholder="Enter price" })
                                                                            @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col d-flex justify-content-end">
                                                                <button class="btn btn-primary" type="submit">Add Subject</button>
                                                            </div>
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>
                                        }
                                        @using (Html.BeginForm("AddTimming", "Tutor", FormMethod.Post))
                                        {
                                            <div class="tab-content pt-3">
                                                <div class="tab-pane active">
                                                    <form class="form" novalidate="">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Subject Name</label>
                                                                            @Html.DropDownListFor(model => model.title, haveclasslst, "Select Subject", new { @class = "form-control" })
                                                                            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>alloted Times</label>
                                                                            @Html.DropDownListFor(model => model.timing, timelst, "Select Time-", new { @class = "form-control" })
                                                                            @Html.ValidationMessageFor(model => model.timing, "", new { @class = "text-danger" })
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col d-flex justify-content-end">
                                                                <button class="btn btn-primary" type="submit">Add Timing</button>
                                                            </div>
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>
                                        }


                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-3 mb-3">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="px-xl-3">
                                        <a href="/LS/loginTeacher" class="btn btn-block btn-secondary">

                                            <i class="fa fa-sign-out"></i>
                                            <span>Logout</span>

                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title font-weight-bold">Support</h6>
                                    <p class="card-text">Get fast, free help from our friendly assistants.</p>
                                    <a href="/Tutor/contact" class="btn btn-block btn-secondary" style="background-color:dodgerblue;">
                                        Contact Us
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>


</div>

<script>
    function Populate() {
       @{
           var sublst = new List<SelectListItem>();

       }
    }




</script>