@model OnlineTutorSystem.Models.tutor
@{
    ViewBag.Title = "loginTeacher";
    Layout = "~/Views/Shared/_LSLayout.cshtml";
}




<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-12 col-lg-11 col-xl-10">
            <div class="card d-flex mx-auto my-5">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12 c1 p-5">
                        <div class="row mb-5 m-3"> <img src="https://i.imgur.com/pFfTOwy.jpg" width="70vw" height="55vh" alt=""> </div> <img src="https://i.imgur.com/kdE7GKw.jpg" width="120vw" height="210vh" class="mx-auto d-flex" alt="Teacher">
                        <div class="row justify-content-center">
                            <div class="w-75 mx-md-5 mx-1 mx-sm-2 mb-5 mt-4 px-sm-5 px-md-2 px-xl-1 px-2">
                                <h1 class="wlcm">Start Your Online job US! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Knowlede Is Money</h1> <span class="sp1"> <span class="px-3 bg-danger rounded-pill"></span> <span class="ml-2 px-1 rounded-circle"></span> <span class="ml-2 px-1 rounded-circle"></span> </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12 c2 px-5 pt-5">











                        @Scripts.Render("~/bundles/jquery")
                        @Scripts.Render("~/bundles/jqueryval")

                        <div class="row">
                            <nav class="nav font-weight-500 mb-1 mb-sm-2 mb-lg-5 px-sm-2 px-lg-5"> <a class="nav-link" href="/LS/loginStudent" style="font-size:22px;">Students</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="nav-link ac" href="/LS/loginTeacher" style="font-size:22px;">Tutor</a> </nav>
                        </div>
                        @using (Html.BeginForm("loginTeacher", "LS", FormMethod.Post, new { Class = "px-5 pb-5", }))

                        {
                            <div class="d-flex">

                                <h3 class="font-weight-bold"><font style="color:dodgerblue; ">Teacher</font> Log in</h3>
                            </div>
                            @Html.TextBoxFor(model=>model.email, new { placeholder = "Email", @class = "inp", @Value = @ViewBag.tutorEmail })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })

                            @Html.TextBoxFor(model => model.password, new { placeholder = "Password", @class = "inp", id = "password-field", Type = "password", @Value = @ViewBag.tutorPassword })
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })






                            <button class="text-white text-weight-bold bt">Login</button>
                            <a href="/LS/SignUpTeacher"><h5 class="ac" id="register">Register</h5></a>

                        }
                        @if (ViewBag.Message != null)
                        {
                            <script type="text/javascript">
                     window.onload = function () {
                     alert("@ViewBag.Message");
            };
                            </script>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
